<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/dashboard::header"></head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <span th:replace="fragments/asider::sidebar"></span>
        <div class="layout-page">
            <span th:replace="fragments/header::header"></span>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-12">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Lista de Cursos 📘</h5>
                                            <div>
                                                <a th:href="@{/course/nuevo}" class="btn btn-primary">Nuevo Curso</a>
                                            </div>
                                            <div class="table-responsive text-nowrap">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Código del Curso</th>
                                                        <th>Nombre</th>
                                                        <th>Descripción</th>
                                                        <th>Fecha de Inicio</th>
                                                        <th>Fecha de Fin</th>
                                                        <th>Créditos</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="course : ${listaCourse}">
                                                        <td th:text="${course.id}"></td>
                                                        <td th:text="${course.codeCourse}"></td>
                                                        <td th:text="${course.name}"></td>
                                                        <td th:text="${course.description}"></td>
                                                        <td th:text="${course.startDate}"></td>
                                                        <td th:text="${course.endDate}"></td>
                                                        <td th:text="${course.credits}"></td>
                                                        <td>
                                                            <a th:href="@{/course/showUpdateCourse/{id}(id=${course.id})}" class="btn btn-warning">Editar</a>
                                                            <a th:href="@{/course/delete/{id}(id=${course.id})}" class="btn btn-danger">Eliminar</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span th:replace="fragments/footer::footer"></span>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/dashboard::script"></div>
</body>
</html>
